@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 216 33% 97%;
    --foreground: 0 0% 13%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 13%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 13%;

    --primary: 221 83% 53%; /* #2563EB */
    --primary-foreground: 0 0% 100%;
    --primary-dark: 221 70% 40%;
    --primary-light: 221 83% 86%;

    --secondary: 207 90% 86%;
    --secondary-foreground: 212 80% 42%;

    --muted: 216 33% 97%;
    --muted-foreground: 0 0% 46%;

    --accent: 122 39% 49%;
    --accent-foreground: 0 0% 100%;

    --destructive: 4 90% 58%;
    --destructive-foreground: 0 0% 100%;
    
    --warning: 36 100% 50%;
    --warning-foreground: 0 0% 100%;

    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 207 90% 54%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 13%;
    --foreground: 216 33% 97%;

    --card: 0 0% 10%;
    --card-foreground: 216 33% 97%;

    --popover: 0 0% 10%;
    --popover-foreground: 216 33% 97%;

    --primary: 207 90% 54%;
    --primary-foreground: 0 0% 100%;
    --primary-dark: 212 80% 42%;
    --primary-light: 207 90% 86%;

    --secondary: 216 33% 20%;
    --secondary-foreground: 216 33% 97%;

    --muted: 216 33% 20%;
    --muted-foreground: 216 33% 80%;

    --accent: 122 39% 49%;
    --accent-foreground: 0 0% 100%;

    --destructive: 4 90% 58%;
    --destructive-foreground: 0 0% 100%;

    --warning: 36 100% 50%;
    --warning-foreground: 0 0% 100%;

    --border: 216 33% 20%;
    --input: 216 33% 20%;
    --ring: 207 90% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}
